body{
font-family:Arial;
background:#eef2f7;
padding:40px
}

.container{
background:white;
padding:30px;
border-radius:10px;
max-width:900px;
margin:auto;
box-shadow:0 5px 20px rgba(0,0,0,0.1)
}

input,textarea{
width:100%;
padding:10px;
margin-top:10px;
font-size:16px
}

button{
margin-top:15px;
padding:12px;
background:#1b4d89;
color:white;
border:none;
width:100%;
border-radius:6px
}

#result{
margin-top:20px;
background:#f3f6ff;
padding:20px;
border-radius:6px
}
